<!DOCTYPE html>
<head>
  <title>{% block title %}{% endblock title%}</title>
  <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
  {% block styles %}{% endblock styles %}
  {% block head_append %}{% endblock head_append %}
</head>

<body>

{% block navbar %}
<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <a class="navbar-brand" href="{{ url_for('boby-web.home') }}">Boby</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
        <li><a href="{{ url_for('boby-web.dashboard')}}">Dashboard</a></li>
      </ul>
  </div><!-- /.navbar-collapse -->

</nav>
{% endblock navbar %}

{% block content %}{% endblock content %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/js/bootstrap.min.js"></script>
{% block scripts %}{% endblock scripts %}
</body>
</html>