{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h1>Welcome to BOBY</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque condimentum sapien ac neque consectetur condimentum. Proin auctor tincidunt dolor, ut suscipit justo rhoncus et. In et eros libero. Praesent blandit eu orci id gravida. Maecenas facilisis neque erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Mauris est odio, pharetra at nulla in, pulvinar elementum eros. Aliquam mattis dolor quis commodo dignissim. Nunc ultricies augue fermentum velit auctor, ut egestas sapien viverra. In eu posuere diam, commodo lobortis tellus. Sed faucibus blandit blandit. Donec eu tincidunt urna. Duis elementum lectus nec libero luctus ultricies. Sed eget sem nec dolor tempus mollis in eu enim.</p>
  </div>
{% endblock %}